<?xml version="1.0"?>
<config>
    <modules>
        <MKleine_LanguageRoutes>
            <version>0.1.0</version>
        </MKleine_LanguageRoutes>
    </modules>
    <global>
        <models>
            <mk_languageroutes>
                <class>MKleine_LanguageRoutes_Model</class>
            </mk_languageroutes>
            <core>
                <rewrite>
                    <url>MKleine_LanguageRoutes_Model_Core_Url</url>
                </rewrite>
            </core>
        </models>
        <blocks>
            <mk_languageroutes>
                <class>MKleine_LanguageRoutes_Block</class>
            </mk_languageroutes>
        </blocks>
        <helpers>
            <mk_languageroutes>
                <class>MKleine_LanguageRoutes_Helper</class>
            </mk_languageroutes>
        </helpers>
    </global>
    <default>
        <web>
            <routers>
                <language>
                    <area>frontend</area>
                    <class>MKleine_LanguageRoutes_Controller_Varien_Router_Standard</class>
                </language>
            </routers>
        </web>
    </default>
</config>
