<?xml version="1.0"?>
<config>
    <modules>
        <MKleine_LanguageRoutes>
            <version>0.1.0</version>
        </MKleine_LanguageRoutes>
    </modules>
    <global>
        <models>
            <mk_languageroutes>
                <class>MKleine_LanguageRoutes_Model</class>
                <resourceModel>mk_languageroutes_resource</resourceModel>
            </mk_languageroutes>
            <mk_languageroutes_resource>
                <class>MKleine_LanguageRoutes_Model_Resource</class>
                <entities>
                    <languageroute>
                        <table>languageroutes</table>
                    </languageroute>
                </entities>
            </mk_languageroutes_resource>
            <core>
                <rewrite>
                    <url>MKleine_LanguageRoutes_Model_Core_Url</url>
                </rewrite>
            </core>
        </models>
        <blocks>
            <mk_languageroutes>
                <class>MKleine_LanguageRoutes_Block</class>
            </mk_languageroutes>
        </blocks>
        <helpers>
            <mk_languageroutes>
                <class>MKleine_LanguageRoutes_Helper</class>
            </mk_languageroutes>
        </helpers>
        <resources>
            <languageroutes_setup>
                <setup>
                    <module>MKleine_LanguageRoutes</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </languageroutes_setup>
            <languageroutes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </languageroutes_write>
            <languageroutes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </languageroutes_read>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <MKleine_LanguageRoutes>
                    <files>
                        <default>MKleine_LanguageRoutes.csv</default>
                    </files>
                </MKleine_LanguageRoutes>
            </modules>
        </translate>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <mk_languageroutes>
                        <class>mk_languageroutes/observer</class>
                        <type>singleton</type>
                        <method>controllerActionLayoutRenderBefore</method>
                    </mk_languageroutes>
                </observers>
            </controller_action_layout_render_before>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <mk_languageroutes>
                        <class>mk_languageroutes/observer</class>
                        <type>singleton</type>
                        <method>controllerActionLayoutGenerateBlocksAfter</method>
                    </mk_languageroutes>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <controller_action_predispatch>
                <observers>
                    <mk_languageroutes>
                        <class>mk_languageroutes/observer</class>
                        <type>singleton</type>
                        <method>controllerActionPredispatch</method>
                    </mk_languageroutes>
                </observers>
            </controller_action_predispatch>
        </events>
        <routers>
            <mk_languageroutes>
                <use>standard</use>
                <args>
                    <module>MKleine_LanguageRoutes</module>
                    <frontName>languageroute</frontName>
                </args>
            </mk_languageroutes>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mk_languageroutes before="Mage_Adminhtml">MKleine_LanguageRoutes_Adminhtml</mk_languageroutes>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mk_languageroutes>
                    <file>mk_languageroutes.xml</file>
                </mk_languageroutes>
            </updates>
        </layout>
        <translate>
            <modules>
                <MKleine_LanguageRoutes>
                    <files>
                        <default>MKleine_LanguageRoutes.csv</default>
                    </files>
                </MKleine_LanguageRoutes>
            </modules>
        </translate>
        <events>
            <languageroute_save_after>
                <observers>
                    <mk_languageroutes>
                        <class>mk_languageroutes/observer</class>
                        <type>singleton</type>
                        <method>languagerouteSaveAfter</method>
                    </mk_languageroutes>
                </observers>
            </languageroute_save_after>
        </events>
    </adminhtml>
    <default>
        <web>
            <url>
                <enable_route_translation>1</enable_route_translation>
                <forward_to_translated>0</forward_to_translated>
            </url>
            <routers>
                <language>
                    <area>frontend</area>
                    <class>MKleine_LanguageRoutes_Controller_Varien_Router_Standard</class>
                </language>
            </routers>
        </web>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Aoe_TemplateHints/>
            </modules>
        </suite>
    </phpunit>
</config>
